* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 200px;
    margin: 16px;
}

input {
    height: 40px;
    padding: 3px;
    margin-bottom: 6px;
}

button {
    margin-left: 16px;
    width: 128px;
    height: 32px;
    cursor: pointer;
}